header {
    background-color: black;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 10000px;
}

video {
    max-width:780px ;
    max-height:420px ;
}
